<% if(typeof dbData != 'undefined'){%>
<table>
    <% Object.keys(dbData[0]).forEach( header => { %>
        <th> <%= header; %> </th>
    <% }); %>
    <% dbData.forEach( row => {%>
        <tr>
        <% Object.values(row).forEach( value => {%>
        <td> 
            <%= value; %>    
        </td>
        <% }); %>
        </tr>
    <% }); %>

</table>
<% } %>