<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/removeData">Remove Data</a></li>
        <li><a href="/updateData">Update Data</a></li>
        <li><a href="/createTable">Create Table</a></li>
        <li><a href="/createTableRow">Create New Table Row</a></li>
    </ul>
</nav>